.contactSection {
  min-height: 45vh;
  max-width: 571px;
  padding: 2em 1em;
  margin-top: 10em;
  display: block;
}

.title {
  font-family: "Inria Sans", sans-serif;
  margin-bottom: 1em;
}

.emailClipboard {
  background-color: #191c29;
  border: 2px solid #462ed1;
  width: 100%;
  text-align: center;
  padding: 1.5em;
  box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.1) inset,
    12px 12px 12px black inset;
  border-radius: 0.5em;
  margin: 0 auto;
}

.text {
  color: #a1ddff;
  font-family: "Inria Sans", sans-serif;
  text-transform: uppercase;
  font-size: clamp(
    1.4em,
    1.4vw,
    1.4em
  ); /* Ajusta o tamanho da fonte responsivamente */
  overflow-wrap: break-word; /* Permite a quebra de linha */
  word-break: break-all; /* Força a quebra de linha quando necessário */
  text-align: center; /* Centraliza o texto */
}

.btn {
  font-family: "Inria Sans", sans-serif;
  border: 2px solid black;
  width: 98%;
  text-align: center;
  border-radius: 0.5em;
  box-shadow: 16px 14px 20px #191c29;
  margin: 0 auto;
  padding: 0.3em;
  background-color: #a1ddff;
  color: #0d1c39;
  transition: background-color 0.3s, color 0.3s;
  transition: all 0.3s ease;
}

.btn:hover {
  transform: translate3d(0, -10px, 22px);
  color: #462ed1;
}

.copiedButton {
  background-color: #62f362; /* Cor verde para indicar que o email foi copiado */
  color: #000000; /* Cor do texto após copiar */
}

@media (max-width: 621px) {
  .contactSection {
    padding: 1em 2em;
    margin-top: 5em;
  }

  .emailClipboard {
    padding: 1em;
    font-size: 0.9em;
  }

  .btn {
    padding: 0.5em;
    font-size: 1em;
  }

  .text {
    font-size: clamp(0.8em, 2vw, 1.2em);
  }
}

@media (max-width: 522px) {
  .contactSection {
    padding: 0.5em 1em;
    margin-top: 3em;
  }

  .emailClipboard {
    padding: 1em;
    font-size: 0.8em;
  }

  .btn {
    padding: 0.2em;
    font-size: clamp(0.7em, 2vw, 1em);
  }
}
