.navbarDiv {
  gap: 1em;
}

.linkName {
  border-bottom: 2px solid transparent;
  transition: 0.7s;
}

.linkName:hover {
  border-bottom: 2px solid rgb(81, 177, 194);
}

.linkpage {
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-radius: 0.5em;
  transition: 0.8s;
  display: flex;
  justify-content: center;
  gap: 0.5em;
}
.linkpage:hover {
  border-left: 2px solid rgb(81, 177, 194);
  border-right: 2px solid rgb(81, 177, 194);
}
