.footer {
  z-index: 1;
  --footer-background: #a1ddff; /* Alterado para preto conforme a imagem */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  grid-area: footer;
  width: 100%;
  bottom: 0;
  min-height: 12rem;
  background: var(--footer-background);
  color: #0d1b37;
  padding: 2rem 1rem;
  margin-top: 10em;
}

.bubbles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1rem;
  background: var(--footer-background);
  filter: url("#blob");
}

.bubble {
  position: absolute;
  left: var(--position, 50%);
  background: var(--footer-background);
  border-radius: 100%;
  animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s),
    bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  transform: translate(-50%, 100%);
}

.footerContent {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: var(--footer-background);
}

.footerContent > div {
  margin: 1rem 0;
}

.link {
  transition: all 0.3s ease;
}

.link:hover {
  transform: translate3d(0, -10px, 22px);
}

@keyframes bubble-size {
  0%,
  75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}

@keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}
